.item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: auto;
}

@media screen and (max-width:500px){
  .item{
    flex-direction: column;
  }
}

.image img{
  height: 100px;
  width: 100px;
  background-color: white;
  box-shadow: 0px 0px 10px white;
}

.content{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.auth-img{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}